<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <!-- https://checkstyle.org/config_filefilters.html#BeforeExecutionExclusionFileFilter -->
  <module name="BeforeExecutionExclusionFileFilter">
    <property name="fileNamePattern" value="module\-info\.java$"/>
  </module>

  <!-- https://checkstyle.org/config_filters.html#SuppressionFilter -->
  <module name="SuppressionFilter">
    <property name="file" value="${suppressionFile}"/>
  </module>

  <!-- https://checkstyle.org/config_whitespace.html#FileTabCharacter -->
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>

  <!-- https://checkstyle.org/config_misc.html#NewlineAtEndOfFile -->
  <module name="NewlineAtEndOfFile"/>

  <module name="TreeWalker">
    <!-- https://checkstyle.org/config_misc.html#ArrayTypeStyle -->
    <module name="ArrayTypeStyle"/>

    <!-- https://checkstyle.org/config_imports.html#AvoidStarImport -->
    <module name="AvoidStarImport"/>

    <!-- https://checkstyle.org/config_whitespace.html#EmptyForInitializerPad -->
    <module name="EmptyForInitializerPad"/>

    <!-- https://checkstyle.org/config_whitespace.html#EmptyLineSeparator -->
    <module name="EmptyLineSeparator">
      <property name="allowMultipleEmptyLines" value="false"/>
      <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
      <property name="allowNoEmptyLineBetweenFields" value="true"/>
      <!-- remove PACKAGE_DEF, temporarily remove COMPACT_CTOR_DEF, RECORD_DEF -->
      <property name="tokens"
                value="CLASS_DEF, CTOR_DEF, ENUM_DEF, IMPORT, INSTANCE_INIT, INTERFACE_DEF, METHOD_DEF, STATIC_IMPORT, STATIC_INIT, VARIABLE_DEF"/>
    </module>

    <!-- https://checkstyle.org/config_coding.html#FinalLocalVariable -->
    <module name="FinalLocalVariable">
      <property name="tokens" value="VARIABLE_DEF"/>
    </module>

    <!-- https://checkstyle.org/checks/coding/parameterassignment.html -->
    <module name="ParameterAssignment"/>

    <!-- https://checkstyle.org/checks/coding/modifiedcontrolvariable.html -->
    <module name="ModifiedControlVariable"/>

    <!-- This rule will flag an error if 'final' is used on a parameter -->
    <module name="MatchXpath">
      <property name="query" value="//PARAMETER_DEF/MODIFIERS[FINAL]"/>
      <message key="matchxpath.match" value="Method parameters should never be declared final."/>
    </module>

    <!-- This rule will flag an error if 'final' is used on a for-each clause -->
    <module name="MatchXpath">
      <property name="query" value="//FOR_EACH_CLAUSE/VARIABLE_DEF/MODIFIERS[FINAL]"/>
      <message key="matchxpath.match" value="Enhanced for-loop variables should never be declared final."/>
    </module>

    <!-- Disallow the use of `var` in code  -->
    <module name="IllegalType">
      <property name="illegalClassNames" value="var"/>
      <message key="illegal.type" value="Usage of 'var' is disallowed. Use explicit types instead."/>
    </module>

    <!-- https://checkstyle.org/config_whitespace.html#GenericWhitespace -->
    <module name="GenericWhitespace"/>

    <!-- https://checkstyle.org/config_design.html#HideUtilityClassConstructor -->
    <module name="HideUtilityClassConstructor"/>

    <!-- https://checkstyle.org/config_misc.html#Indentation -->
    <module name="Indentation">
      <property name="arrayInitIndent" value="2"/>
      <property name="basicOffset" value="2"/>
      <property name="braceAdjustment" value="0"/>
      <property name="caseIndent" value="2"/>
      <property name="lineWrappingIndentation" value="0"/>
      <property name="throwsIndent" value="2"/>
    </module>

    <!-- https://checkstyle.org/config_blocks.html#LeftCurly -->
    <module name="LeftCurly"/>

    <!-- https://checkstyle.org/config_whitespace.html#NoWhitespaceAfter -->
    <module name="NoWhitespaceAfter">
      <property name="allowLineBreaks" value="false"/>
    </module>

    <!-- https://checkstyle.org/config_whitespace.html#NoWhitespaceBefore -->
    <module name="NoWhitespaceBefore">
      <property name="allowLineBreaks" value="true"/>
      <property name="tokens"
                value="COMMA, DOT, LABELED_STAT, METHOD_REF, POST_DEC, POST_INC, SEMI"/> <!-- remove ELLIPSIS -->
    </module>

    <!-- https://checkstyle.org/config_coding.html#OneStatementPerLine -->
    <module name="OneStatementPerLine"/>

    <!-- https://checkstyle.org/config_imports.html#RedundantImport -->
    <module name="RedundantImport"/>

    <!-- https://checkstyle.org/checks/imports/importorder.html -->
    <module name="ImportOrder">
      <property name="groups" value="*,javax,java"/>
      <property name="ordered" value="true"/>
      <property name="separated" value="true"/>
      <property name="option" value="bottom"/>
      <property name="sortStaticImportsAlphabetically" value="true"/>
    </module>
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="ImportOrder"/>
      <property name="message" value="^'java\..*'.*"/>
    </module>

    <!-- https://checkstyle.org/config_modifier.html#RedundantModifier -->
    <module name="RedundantModifier">
      <property name="tokens"
                value="ANNOTATION_FIELD_DEF, CLASS_DEF, CTOR_DEF, ENUM_DEF, INTERFACE_DEF, VARIABLE_DEF"/> <!-- remove METHOD_DEF and RESOURCE -->
    </module>

    <!-- https://checkstyle.org/config_imports.html#UnusedImports -->
    <module name="UnusedImports"/>

    <!-- https://checkstyle.org/checks/naming/constantname.html -->
    <module name="ConstantName"/>

    <!-- https://checkstyle.org/checks/blocks/emptyblock.html -->
    <module name="EmptyBlock"/>

    <!-- https://checkstyle.org/checks/coding/unnecessaryparentheses.html -->
    <module name="UnnecessaryParentheses"/>

    <!-- https://checkstyle.org/checks/imports/illegalimport.html -->
    <module name="IllegalImport">
      <property name="illegalClasses" value="org.jetbrains.annotations.Nullable, org.jetbrains.annotations.NotNull"/>
    </module>
  </module>
</module>
